<vtrackerConfig>
    <vessel>
        <mmsi>999999998</mmsi>
        <dir>vtracker-vessel</dir>
        <logInterval>4</logInterval>
        <gpsTimeOnly>false</gpsTimeOnly>
        <remoteAIS active="true">
            <pingInterval>60</pingInterval>
        </remoteAIS>
        <localAIS active="false">
            <gunicornPort>50003</gunicornPort>
            <token>cc4c6c2b6f9bc5c15e1e4e19744f60f022ee6cbd</token>
        </localAIS>
        <sourceAIS socket="true">
            <udp>
                <port>50001</port>
            </udp>
            <gpsd>
                <port>2947</port>
            </gpsd>
        </sourceAIS>
        <dataFilter active="false">
            <kNearestVessel active="true">3</kNearestVessel>
            <range active="true">10</range>
            <time active="true">
                <start>0:01</start>
                <stop>23:59</stop>
            </time>
        </dataFilter>
    </vessel>
    <server>
        <dir>vtracker-server</dir>
        <aisServer>vtracker.recoded.co</aisServer>
        <aisPort>50002</aisPort>
        <discPort>22026</discPort>
        <pingPort>50000</pingPort>
        <pingInterval>60</pingInterval>
        <gunicornServer>localhost</gunicornServer>
        <gunicornPort>50003</gunicornPort>
        <token>cc4c6c2b6f9bc5c15e1e4e19744f60f022ee6cbd</token>
    </server>
    <service>
        <mailserver>
            <identity></identity>
            <username>recoded.service</username>
            <password>wbwReH84CTfX3yzaDYyF</password>
            <host>smtp.gmail.com</host>
            <port>587</port>
        </mailserver>
        <thresholds>
            <ping_out>30</ping_out>
            <ping_in>30</ping_in>
            <sync>30</sync>
            <ais>30</ais>
        </thresholds>
        <observers>
            <mail>jacek.jelonek@gmail.com</mail>
        </observers>
    </service>
    <startGui>false</startGui>
</vtrackerConfig>
